/*class*/
.main{
	position: relative;
	left: 300px;
	background-color: #A3F7BF;
	margin: 0px;
	height: 400px;
	width: 800px;
	border-top-left-radius: 30%;
	border-bottom-right-radius: 30%;
	word-wrap: break-word;
}
.heading1{
	color:  #03c4a1;
	text-align: center;
    margin: 0px;
    font-family: 'Playfair Display', serif;
    text-decoration:  #A3F7BF wavy underline; 
}
.para1{
	position: relative;
	font-size: 40px;
	word-wrap: break-word;
	top: 77px;
	left: 20px;
}




/*tag*/
body{
	margin: 0px;
}